{% extends 'basic.html' %}
{% load static%}
{% block style %}
{% endblock %}
{% block body %}
    <div class="maincontain">
        <div class="designheading">
            <div class="headings">
                <h2>Admission Procedure </h2>
            </div>
        </div>
        <div class="contain">
            <div class="designheading" style="width: 88vw; height: 4vw;">
                <div class="headings" style="display: inline; width: 1vw;">
                    <h2 style="font-size: 1.5vw;">SCHEDULE FOR ADMISSION</h2>
                </div>
            </div>
            <div>
                <div class="headings" style="display: inline; width: 1vw;">
                    <h2 style="width: 40vw; font-size: 1.5vw;">A) DTE CAP Round Admission Schedule : </h2>
                </div>
                <h5 style="width: 88vw; position: relative; left: 7vw; top: -1vw;">DTE CAP Round Admission Schedule will
                    be published by DTE in
                    newspapers and on DTE website dtemaharashtra.gov.in</h5>
            </div>
            <div>
                <div class="headings" style="display: inline; width: 1vw;">
                    <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 2vw;">B) Institute Level Quota
                        Admission Schedule :</h2>
                </div>
                <h5 style="width: 88vw; position: relative; left: 7vw; top: -1vw;">Will be available on institutional
                    website www.sce.edu.in

                </h5>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative;">ADMISSION PROCEDURE</h2>
            </div>
            <div class="contain">
                <p style="width: 88vw; position:relative; left: 3vw;">DTE CAP Round Admission: 80% seats admission are
                    allotted by DTE as per the guidelines published on DTE website www.dtemaharashtra.gov.in<br>
                    65% admission by Central Allotment Process (CAP) of Government of Maharashtra through MH-CET
                    2020.<br>
                    15% admission by Central Allotment Process (CAP) of Government of Maharashtra through JEE/ MH-CET
                    2020 for MS/OMS candidate.<br>20% admission for institute level quota
                </p>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 7vw;">Admission Process (CAP
                    -2019-20-Summary)
                </h2>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 1vw;">Assignment of Merit Number –
                </h2>
            </div>
            <div class="contain">
                <p style="width: 88vw; position:relative; left: 3vw;">All the eligible Candidates who have submitted
                    Application Form on or before the last date specified for the submission of Application Form for
                    Admission through CAP shall be assigned a merit number
                </p>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 7vw;">Admission to First Year
                    Engineering and Technology –
                </h2>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 1vw;">(i) For H S C Candidates:
                </h2>
            </div>
            <div class="contain">
                <p style="width: 88vw; position:relative; left: 3vw;">The merit list for the Candidates as per rule
                    5(1), 5(2), 5(3) and 5(6) of these rules, shall be prepared on the basis of marks or score secured
                    by the Candidate in the MHT-CET conducted by the Competent Authority or marks or score secured in
                    any other examination conducted by the concerned appropriate authority for the purpose of admission
                    to these Courses. Provided that, in case of tie, the relative merit of Candidates shall be resolved
                    in the following order of preference and the methodology as specified in broachers …

                </p>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 1vw;">(i) For H S C Candidates:
                </h2>
            </div>
            <div class="contain">
                <p style="width: 88vw; position:relative; left: 3vw;">The merit list for the Candidates as per rule
                    5(1), 5(2), 5(3) and 5(6) of these rules, shall be prepared on the basis of marks or score secured
                    by the Candidate in the MHT-CET conducted by the Competent Authority or marks or score secured in
                    any other examination conducted by the concerned appropriate authority for the purpose of admission
                    to these Courses. Provided that, in case of tie, the relative merit of Candidates shall be resolved
                    in the following order of preference and the methodology as specified in broachers …

                </p>
            </div>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: 1vw;">(i i) Direct Second Year
                    Engineering</h2>
            </div>

            <p style="width: 88vw; position:relative; left: 3vw;">The merit list shall be prepared on the basis of marks
                obtained by the Candidate, on the basis of which Diploma / Degree is awarded by the examining authority
                Provided that, in case of tie, the relative merit of different Candidatures shall be resolved in the
                following order of preference and the methodology as specified below, – (a) higher percentage of marks
                in SSC; (b) higher percentage of marks in Mathematics at SSC; (c) higher percentage of marks in Science
                at SSC; (d) higher percentage of marks in English at SSC.
            </p>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: -4vw;">Centralised Admission Process
                    (CAP) –
                </h2>
            </div>
            <p style="width: 88vw; position:relative; left: 3vw;">A. Display or Publishing of Information Brochure by
                the Competent Authority. The Information Brochure shall be published on the website of the Competent
                Authority
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">B. Filling Online Application Form by Candidate for
                participation in the Centralised Admission Process. All the aspiring candidates shall fill in the Online
                Application Form for admission through their login which is provided to them at the time of applying to
                the Common Entrance Test (CET) conducted for that course.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">For First and Direct Second Year Engineering and
                Technology,: The eligible candidates are required to fill the application form Online. with fee given in
                broachers
                The list of the Facilitation Centers shall be published on the website. The Facilitation center shall
                facilitate the candidate to fill the Online Application Form, scan and upload the required documents
                without any charges. The Candidates will also be able to fill in Online Application Form and upload the
                scanned copies of the required documents through any computer connected to internet.C. Document
                Verification at Facilitation Centre by the Candidate. It is mandatory on the candidate’s part to produce
                all original documents in support of the claim made in the application form. The Candidates shall report
                to any convenient Facilitation Centre along with signed printout of application form filled online and
                the required original documents for verification/
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">D. Display or Publishing of Provisional merit list,
                Submission of grievances, if any, and Display or Publishing of Final Merit Lists; Provisional Merit List
                of eligible candidates will be displayed on
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">E. Display of Category wise Seats (Seat Matrix)
                available for respective CAP Rounds The competent authority shall publish the information on the website
                about institutes, courses offered, Sanctioned intake and number of seats available for each category
                before each round.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">F. Filling up and confirmation of online option form
                having Preferences of Courses and Institutions prior to respective CAP Rounds. Candidates may fill in
                preferences of Institutes and Courses in decreasing order of their preference as specified by Competent
                Authority. The option form once confirmed by the candidate through their login shall be considered for
                allotment in the respective CAP Rounds; Candidates may fill in maximum 300 choices of Institutes and
                Courses in decreasing order of their preference;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">G. Display of Provisional Allotment of respective CAP
                Round indicating allotted institute and Course.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">H. Reporting and accepting the offered seat at
                Admission Reporting Centre by the Candidate as per the
                schedule declared by the Competent Authority</p>

            <p style="width: 88vw; position:relative; left: 3vw;">I. Only after reporting to ARC, the candidate should
                report to the allotted institute for seeking admission on
                the allotted seat as per final allotment in CAP rounds;</p>

            <p style="width: 88vw; position:relative; left: 3vw;">J. The time schedule prescribed by the competent
                authority for compliances for various stages of CAP is
                mandatory</p>

            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: -8vw;">Conduct of CAP Round-I –</h2>
            </div>
            <p style="width: 88vw; position:relative; left: 3vw;">The seats available for Round- I shall be published on
                the Website. The Candidate whose names appear in the final merit list of CAP shall be eligible to
                participate in this round by filling online option form. The candidate shall fill and confirm the option
                form through candidate’s Login.
            </p>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: -9vw;">During the CAP :</h2></div>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (a) If a candidate is allotted the seat as per his first preference, such allotment shall be auto
                freezed and the candidate shall accept the allotment so made. Such candidate shall not be eligible for
                participation in the subsequent CAP rounds. Such candidates shall then report to ARC for verification of
                documents and payment of seat acceptance fee. Thereafter such candidates shall report to the allotted
                institute and seek admission on the allotted seat. If such candidate does not report to ARC for
                confirmation of seat acceptance, their claim on the allotted seat shall stand forfeited automatically
                and the seat shall become available for fresh allotment. For such candidate, the allotment so made shall
                be the final allotment;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (b) Candidate who have been allotted seat other than the first preference given by the candidate and if
                the candidate is satisfied with such allotment and do not wish to participate in further CAP rounds,
                such candidate can freeze the offered seat through candidate’s login. Once the candidate freezes the
                allotted seat, such candidate shall then report to ARC for verification of documents and payment of seat
                acceptance fee. Thereafter such candidates shall report to the allotted institute and seek admission on
                the allotted seat. For such candidate, the allotment so made shall be the final allotment. If such
                candidate does not report to ARC for confirmation of seat acceptance, their claim on the allotted seat
                shall stand forfeited automatically and the seat shall become available for fresh allotment. Such
                candidate shall then be not eligible for participation in the subsequent CAP rounds;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (c) Candidate who have been allotted seat other than first preference and accepted the seat by reporting
                to ARC for confirmation of seat acceptance shall be eligible for participation in the subsequent rounds
                for betterment;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (d) Candidate who have been allotted seat other than first preference and not accepted the seat by not
                reporting to ARC for confirmation of seat acceptance shall be eligible for participation in the
                subsequent rounds;
            </p>
            <div class="headings" style="display: inline; width: 1vw;">
                <h2 style="width: 40vw; font-size: 1.5vw; position: relative; left: -5vw;"> 2.Conduct of CAP Round-II and III.-</h2></div>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (a) The seats available for Rounds II and III shall be published on the website. The Candidates eligible
                for respective rounds II and III are allowed to fill in and/or edit online option form filled in by the
                candidate for the previous round. The seats to be allotted during these rounds shall be available to the
                eligible candidates falling under the following categories.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (i) Candidates as per the sub-rule 3(c) and 3(d) above;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (ii) Candidates who have not been allotted any seat in any of the previous rounds;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (iii) Candidates who did not participate (failure of filling option form) in previous rounds.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (b) Candidates who have been allotted seat other than first preference and reported to ARC for
                confirmation of seat acceptance, whilst filling fresh option form, he/she need not fill the preference
                already allotted to the candidate in the previous round. Once upward preference is allotted to such
                candidate, his earlier seat allotment shall stand automatically cancelled. In the event of no such
                upward preference is allotted, his previous allotment stands retained;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (c) There shall be no further betterment option available to the candidate after round III. The
                allotment made and/or allotment retained in round III for participating candidates in round III shall be
                final;
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (d) At the time of reporting to ARC for confirming the allotted seat, the candidate shall submit all the
                original documents in support of the claims made in the application. In the event the candidate fails to
                produce the documents in support of the claim, so made in the application, the allotment shall stand
                cancelled automatically and the seat shall become available for allotment in further rounds. Candidate
                shall produce the set of copies certified by FC for verification to ARC. The ARC shall verify set of
                copies certified by FC from Original and put ARC stamp with date & Signature and return original and
                verified documents along with Receipt–cum-Acknowledgement of application form. (Candidate shall submit
                FC and ARC stamped &verified set of documents to the Institute at the time of reporting)
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (e) The candidate will be entitled to rectify the following errors in the application form at the time
                of scrutiny of documents at ARC viz.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (f) At the time of reporting to ARC for confirming the allotted seat, the candidate shall submit all the
                original documents in support of the claims made in the application.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (g) The candidate will be entitled to rectify the following errors in the application form at the time
                of scrutiny of documents at ARC viz.
            </p>
            <p style="width: 88vw; position:relative; left: 3vw;">
                (h) In case of additional round (if any), the category of candidates mentioned in clause (a) above shall
                be entitled to participate and will be entitled to fill in fresh option Form.
            </p>
        </div>
    </div>
{% endblock %}