{% extends 'basic.html' %}
{% load static%}
{% block style %}
{% endblock %}
{% block body %}
    <div style="overflow: hidden;">
        <div class="designheading">
            <div class="headings">
                <h2>Become a Multi-faceted Future Ready Engineer</h2>
            </div>
        </div>
        <p align="centre" style="font-size: 1.3vw; text-align: center;  position: relative; left: 8vw; width: 80vw;">
            An undergraduate engineering degree programme B.Tech (Bachelor of Technology) in <a
                style="color: black; text-decoration: underline;" href="#"> saraswati college</a>
            ,is a 4 years full time programme in a specific branch of engineering (i.e. Major degree).
            Students are required to earn approximately 160 credits spread over these 4 years in any one of the
            following Major programmes
        </p>
        <ul style=" font-size: 1.3vw; position: relative; left: 10vw; display:inline;">
            <li style="width: 40vw;">
                <h5 style="display:inline;">Computer Engineering</h5>
            </li>
            <li style="width: 40vw;">
                <h5 style="display:inline;">Electronics Engineering</h5>
            </li>
            <li style="width: 40vw;">
                <h5 style="display:inline;">Electronics and Telecommunication Engineering</h5>
            </li>
            <li style="width: 40vw;">
                <h5 style="display:inline;">Information Technology</h5>
            </li>
            <li style="width: 40vw;">
                <h5 style="display:inline;">Mechanical Engineering</h5>
            </li>
        </ul>
        <p align="centre"
            style="font-size: 1.3vw; text-align: center;  position: relative; left: 8vw; top: 2vw; width: 80vw;">These
            undergraduate B.Tech programmes are designed to acquire knowledge and skills, provide a base for lifelong
            learning and develop an attitude for adapting to technological advances. The curriculum is a blend of
            courses in basic and engineering sciences, branch specific courses and a wide variety of electives ranging
            from Technical / Humanities and Social Sciences / Foreign Languages / Management. Internships in Industry /
            Academic & Research Institutions are also encouraged.
        </p>
    </div>
    <div style="overflow: hidden;">
        <div class="designheading">
            <div class="headings">
                <h2>Who can apply?
                </h2>
            </div>
        </div>
        <ul style=" font-size: 1.3vw; position: relative; left: 10vw; display:inline;">
            <li>An Indian student who has passed 10+2 examination in Science with Physics and Mathematics as compulsory subjects
                
                </li>
            <li>NRI / Foreign Nationals / Children of Gulf workers/ OCI students</li>
        </ul>
    </div>
    <div style="overflow: hidden;">
        <div class="designheading">
            <div class="headings">
                <h2>Requirements

                </h2>
            </div>
        </div>
        <ul style=" font-size: 1.3vw; position: relative; left: 10vw; display:inline;">
            <li>A student who has Passed HSC or its equivalent examination with 50% marks in requisite subjects</li>
            <li>Non zero score in Entrance exams such as MHT-CET/JEE-Mains (Paper-1) / SAT (Scholastic Assessment Test) Exam etc.
            </li>
        </ul>
    </div>
    <div style="overflow: hidden;">
        <div class="designheading">
            <div class="headings">
                <h2 style="font-size: 2vw;">Why pursue an Undergraduate Programme in saraswati college?</h2>
            </div>
        </div>
        <ul style=" font-size: 1.3vw; position: relative; left: 10vw; display:inline;">
            <li>Curriculum designed and revised in collaboration with experts from Industry and Academia.
            </li>
            <li>Exposure to the outside world through vibrant student activities and competitions.
            </li>
            <li>Excellent ambience and infrastructure for holistic development
            </li>
            <li>
                Opportunity to choose from multiple career paths
            </li>
            <li>
                Transform yourself into a competent Engineer
            </li>
        </ul>
    </div>
    <div style="overflow: hidden;">
        <div class="designheading">
            <div class="headings">
                <h2 style="font-size: 2vw;">Undergraduate Programmes</h2>
            </div>
        </div>
        <table border="1px"  align="centre" style="font-size: 1.3vw; text-align: center;  position: relative; left: 8vw; width: 80vw;">
            <tr>
            <th style="font-size: 1.5vw; position: relative;background-color: rgba(128, 128, 128, 0.253);">Discipline</th>
            <th style="font-size: 1.5vw; position: relative;background-color: rgba(128, 128, 128, 0.253);">programmes</th>
            </tr>
            <tr>
                <td rowspan='5' style="background-color: rgba(128, 128, 128, 0.253);">
                    <h4>undergraduate</h4>
                </td>
                <td>
                  <a style="font-size: 1.5vw;" href="#">computer Engineering</a>
                </td>
            </tr>
            <tr>
                <td><a style="font-size: 1.5vw;" href="#">Electronics Engineering</a></td>
            </tr>
            <tr>
                <td><a style="font-size: 1.5vw;" href="#"> Electronics and telecommunications Engineering</a></td>
            </tr>
            <tr>
                <td><a style="font-size: 1.5vw;" href="#">information technoloy</a></td>
            </tr>
            <tr>
                <td><a style="font-size: 1.5vw;" href="#"> mechanical Engineering</a></td>
                        
            </tr>
        </table>

    </div>
{% endblock %}