{% extends 'basic.html' %}
{% load static%}
{% block style %}
.secretary{
display: inline;
position: relative;
left: 63vw;
top: -33vw;
height: 30vw;
width: 35vw;
border-radius: 2%;
}
.intro {
height: 22vw;
width: 40vw;
background-color: rgba(240, 248, 255, 0.578);
position: relative;
/* display: inline; */
top: -26vw;
left: 57vw;
border-radius: 10%;
overflow: hidden;
z-index: 1;
}
.intro1{
    display:none;
}
.designheading{
    background-color:rgba(220, 20, 60, 0.195);
}

{% endblock %}
{% block body %}
<div class="intro">
    <div class="headings">
        <h2>Secretary's Message</h2>
    </div>
    <h3 class="des"></h3>
    <span style="font-size: 5vw; position: relative; top: -4vw; display: inline;">"</span>
    <p align="centre" style="font-size: 2vw; text-align: center;  position: relative; top: -6vw; width: 40vw;">Nobody
        makes a greater mistake than he who does nothing because he could do only a little.</p>
    <span style="font-size: 5vw; position: relative; top: -8vw; right:-35vw; display: inline;">"</span>
</div>
</div>
<div style="height: 40vw; position: relative; top: -16vw;">
    <div class="designheading">
        <div class="headings">
            <h2>Mrs. Vrushali P. Deshmukh (Secretary,SES)</h2>
        </div>
    </div>
    <h3 class="des"></h3>
    <!-- <span style="font-size: 5vw; position: relative; top: -4vw; display: inline;">"</span> -->
    <p align="centre" style="font-size: 1.5vw; text-align: center;  position: relative; top: -2vw; width: 60vw;">The
        rapid development in the field of technology has accelerated the demand for value based engineering education
        which is qualitative, progressive, multidimensional and globally competitive. We give the students an ideal
        learning environment through interactive class–room teaching, tutorials, lab practicals, industrial visits and
        lectures by industry experts for the industrial exposure of students.
        Persistent efforts are being made by our placement team to place our students in encouraging and respectable
        positions in the industry. The aim of the college’s Placement Cell is to provide 100% placement to all students.
        For this, the Cell in conjunction with the Soft Skills department holds mock interviews and group discussions on
        a regular basis. We firmly believe that support, guidance and assistance given to the students at pre-placement
        stage proves immensely helpful to them in getting a job.

        It is in fact a matter of great pride for us that the leading corporate houses and industrial set-ups have
        always looked towards SCOE for quality manpower and have repeatedly visited the campus to recruit our students.
        With best wishes to our students.

    </p>
    <img src="{% static 'images/secretary.png'%}" class="secretary">
    <!-- <span style="font-size: 5vw; position: relative; top: -7vw; right:-50vw; display: inline;">"</span> -->
</div>
{% endblock %}