{% extends 'basic.html' %}
{% load static%}
{% block style %}
{% endblock %}
{% block body %}
    <div class="designheading">
        <div class="headings">
            <h2>university syllabus</h2>
        </div>
    </div>
    <div class="maincontain" style="overflow: hidden; height: auto;">
        <div class="contain" style="position: relative; left: 10vw; ">
            <table style="font-size: 1.3vw; text-align: center;  position: relative;  width: 80vw; ">
                <tr style="border: 0.1vw solid black;">
                    <th
                        style="font-size: 1.8vw; position: relative;background-color: rgba(128, 128, 128, 0.253); width: 20vw;">
                        <h3 style="font-size: 2vw;">Branch</h3>
                    </th>
                    <th
                        style="font-size: 1.8vw; position: relative;background-color: rgba(128, 128, 128, 0.253); width: 40vw;">
                        <h3 style="font-size: 2vw;">Title</h3>
                    </th>
                    <th
                        style="font-size: 1.8vw; position: relative;background-color: rgba(128, 128, 128, 0.253); width: 25vw;">
                        <h3 style="width: 25vw;" align="center ;font-size: 2vw;">links</h3>
                    </th>
                </tr>
                
                    {% for syllabus,numberofsyl2 in allsys1 %}
                    <tr>
                    <td class="td1" style="font-size: 1.5vw; position: relative; border: 0.1vw solid black;">

                        <h4>{{syllabus.0.branch}}</h4>

                    </td>
                    <td class="td1" style="font-size: 1.5vw; position: relative; border: 0.1vw solid black;">
                        {% for i in syllabus%}
                        <h4>{{i.title}}</h4>
                        <hr style="height: 0.1vw; width: 40vw;">
                        {% endfor %}

                    </td>
                    <td style="font-size: 1.5vw; position: relative; border: 0.1vw solid black;">
                        {% for i in syllabus%}
                        <a href="{{i.link}}">
                            <h4 style="width: 25vw; " align="center">link</h4>
                        </a>
                        <hr
                            style="height: 0.1vw; width: 25vw; text-decoration: dotted; color: black; background-color: black;">
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                {% if number == 0 %}
                <tr>
                    <td colspan="3">
                        <h5 style="color: #603212e3; position: relative; left: -1vw; top:1vw; margin-bottom: 1vw; font-size: 2vw;" align="center">There is no
                            data
                            available</h5>
                    </td>
                </tr>
                {% endif %}
            </table>


        </div>
    </div>
    {% endblock %}