
* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}
nav {
  z-index: 2;
  /* background-color: #603312; */
}
.btn-outline-success {
  color: white;
  /* border-color: #198754; */
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  background-color: #60331205;
}
.me-2 {
  margin-right: 0.5vw !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #ffffff47;
  background-clip: padding-box;
  border: 1px solid #ced4da3b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
  color: #f9fafb;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0;
  vertical-align: 0.255em;
  border-top: 0.3VW solid;
  border-right: .3VW solid transparent;
  border-bottom: 0;
  border-left: .3VW solid transparent;
}

/* main page */
.back-main {
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.705)) */
  /* url("{% static 'images/collegeback1.jpg' %}"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vw;
  min-height: 20vw;
  width: 100%;
  box-sizing: border-box;
  color: white;
  position: relative;
  top: -5vw;
  overflow: hidden;
}

.colname {

  font-size: 12vw;
  position: relative;
  top: 19vw;
  font-style: italic;
  /* display: none; */
  font-family: ui-monospace;
  display: inline;
}
.colname2 {
  font-size: 5vw;
  position: relative;
  top: 24vw;
  left: -15vw;
  display: inline;
  font-style: italic;
}
.des {
  font-size: 2.5vw;
  position: relative;
  /* top: 15vw; */
  left: 1vw;
}
.intro {
  height: 22vw;
  width: 40vw;
  background-color: rgba(240, 248, 255, 0.178);
  position: relative;
  /* display: inline; */
  top: 18vw;
  left: 56vw;
  border-radius: 10%;
  overflow: hidden;
  z-index: 1;
}
.card {
  background-color: rgba(0, 0, 0, 0.719);
  color: bisque;
  text-align: center;
  height: 50vw;
  box-sizing: border-box;
  width: 20vw;
}
.card-body {
  padding: 0;
}

    .foot {
      /* display: flex; */
      position: relative;
      margin: 0.5%;
      border-top-right-radius: 10%;
      border-bottom-left-radius: 10%;
      background-color: rgba(165, 42, 42, 0.829);
      background-color: #603212e3;
      font-size: 1.2vw;
    }

    .foot-1 {
      margin: 1%;
      display: flex;
      flex-direction: column;
      color: white;
    }

    .foot-2 {
      margin-top: 2%;
      display: flex;
      position: relative;
      left: 10vw;
      flex-direction: column;
      color: white;
    }

    .foot-3 {
      margin: 1%;
      display: flex;
      position: relative;
      left: 20vw;
      flex-direction: column;
      color: white;
    }

    .foot-1-1 {
      margin: 10%;
      /* padding-left: 20%; */
      display: flex;
      flex-direction: column;

    }

    .foot-1-1 h3 {
      font-size: 2vw;
      color: white;
    }

    .foot-2 h3 {
      font-size: 2vw;
      color: white;
    }

    #f2 {
      margin-top: 30%;
    }

    #f6 {
      margin-top: 30%;
    }

    .f7 {
      display: flex;
      /* justify-content: space-between; */
      margin: 5%;

    }

    .icons-main {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      text-align: center;
    }

    .icon {
      margin-left: 1%;
      height: 3vw;
      width: 3vw;
    }

    .last-nav a {
      margin-left: 1%;
      font-size: 1vw;
      color: white;
    }

    a:not([href]):not([class]),
    a:not([href]):not([class]):hover {
      color: white;
      text-decoration: none;
    }

    .creater {
      font-family: cursive;
      color: white;
    }

    .foot-btn {
      display: flex;
      flex-direction: column;
      position: relative;
      left: 23vw;
      top: 5vw;

    }

    .foot-btn a {
      font-family: sans-serif;
      border-color: black;
      background-color: rgba(0, 0, 0, 0.219);
      position: relative;
      /* justify-content: center; */
      /* text-align: center; */
      align-content: center;
      font-size: 1.5vw;
      margin-top: 50%;
      padding-top: 20%;

    }

    .btn {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      /* color: #212529; */
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 0.1vw solid black;
      padding: 0.375vw 0.85vw;

      border-radius: 0.25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    nav h5 {
      font-size: 1.1vw;
      display: inline;
    }

    h1 {
      font-size: 5vw;
    }

    h2 {
      font-size: 4vw;
    }

    h3 {
      font-size: 3vw;
      margin-bottom: 0.1vw;
    }

    h4 {
      font-size: 2vw;
      margin-bottom: 0;
    }

    h5 {
      font-size: 1.3vw;
    }

    p {
      font-size: 1vw;
      display: block;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px
    }
    .headings {
      position: relative;
      /* top: 1vw; */
      justify-content: center;
      text-align: center;
      /* margin-bottom: 2.5vw; */
      padding: 1vw;
    }

    .headings h2 {
      color: rgba(220, 20, 60, 0.795);
    }
    table p {
      width: 40vw;
    }
    .img {
      height: 15vw;
      width: 20vw;
      position: relative;
    }
    .contain {
      display: inline;
      position: relative;
      left: 6.3vw;
    }
    .maincontain {
      height: auto;
      overflow: hidden;
    }
    table {
      display: inline;
    }
    th,
    td {
      padding: 0.8vw;
    }
    .m {
      /* position: absolute; */
      /* display: none; */
      position: relative;
      display: none;
      text-decoration: none;
    }

    .btn {
      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: white;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 0.1vw solid white;
      padding: 0.375vw 0.85vw;
    
      border-radius: 0.25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
nav h5 {
  /* font-size: 2.5vw; */
  color: white;
}

.dropdown-toggle::after {
  color: white;
}

.course-a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width:770px) {
  .dropdown-toggl :hover .m {
    display: inline;
    position: absolute;
    left: 8.6vw;
    top: 1vw;
    /* background-color: gray; */

  }
}

@media screen and (max-width:770px) {
  nav h5 {
    font-size: 3.5vw;
    color: white;
  }

}

@media screen and (max-width:990px) {
  .m {
    /* position: absolute; */
    /* display: none; */
    position: relative;
    display: inline;
    text-decoration: none;
    overflow: hidden;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.05vw 2.1vw;
    clear: both;
    font-size: 2vw;

  }

  .dropdown-toggl {
    width: 90vw;
    overflow: hidden;
  }

  .i {
    display: inline;
    position: relative;
    left: 9vw;
    margin: 0;
    padding: 0;
  }

  nav a {
    font-size: 3vw;
    /* width: 10vw; */
  }

  ul {
    padding-inline-start: 0px;
  }
}
navbar-toggler {
  padding: 0.15vw 0.35vw;
  font-size: 1vw;
  line-height: 1;
  background-color: transparent;
  border: -0.6vw solid transparent;
  border-radius: 1.25vw;
  transition: box-shadow .15s ease-in-out;
}

.navbar-light .navbar-toggler-icon {
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e); */
  height: 5vw;
  width: 5vw;
}

.back h5 {
  margin: 0.9vw 0.2vw;
  text-align: left;
  font-size: 1.6vw;
  font-family: cursive;
  width: 27.5vw;
  text-align: center;
}
